{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "stage-3",
        "react"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ],
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}